<div class="mt-4 relative">
  <% if @bookmarks.present? %>
    <div class="flex flex-wrap-reverse flex-row-reverse z-30 absolute">
      <%= render @bookmarks %>
    </div>
  <% else %>
    <p><%= t('.no_result') %></p>
  <% end %>
  <div class="absolute top-40">
    <div class="flex flex-col">
      <div class="h-40 z-0">
        <%= image_tag 'woodframe03.jpg' %>
      </div>
      <div class="h-40 z-0">
        <%= image_tag 'woodframe03.jpg' %>
      </div>
      <div class="h-40 z-0">
        <%= image_tag 'woodframe03.jpg' %>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-center">
  <div class="absolute bottom-0 mb-20 mx-auto join z-40">
    <%= paginate @bookmarks %>
  </div>
</div>
<div class="mt-6 w-auto>
  <%= render 'search_form', url: bookmarks_path %>
</div>
