<div class="mt-4 relative h-4/5 overflow-auto">
  <% if @bookmarks.present? %>
    <div class="flex flex-wrap flex-row absolute z-20 mx-4">
      <%= render @bookmarks %>
    </div>
  <% else %>
    <p><%= t('.no_result') %></p>
  <% end %>
  <div class="absolute top-40">
    <div class="flex flex-col">
      <div class="h-40 z-0">
        <%= image_tag 'woodframe03.jpg' %>
      </div>
      <div class="h-40 z-0">
        <%= image_tag 'woodframe03.jpg' %>
      </div>
      <div class="h-40 z-0">
        <%= image_tag 'woodframe03.jpg' %>
      </div>
    </div>
  </div>

</div>
  <div class="mt-6 w-full absolute bottom-20 z-30">
    <div class="flex justify-center">
      <%= paginate @bookmarks %>
  </div>
</div>
