<div class="ml-6 mt-3">
  <% breadcrumb :bookmark, @bookmark %>
  <%= breadcrumbs separator: " &rsaquo; ", class:'text-neutral font-mplus' %>
</div>
<div class="card w-full bg-base-100 shadow-xl mt-20 max-h-full md:w-1/3 md:mx-auto">
  <div class="card-body">
    <div class ="w-full flex flex-row justify-between">
      <h2 class="card-title"><%= @bookmark.title %></h2>
      <%= render 'crud_menus' %>
    </div>
    <%= link_to @bookmark.url, @bookmark.url, class:'link link-primary', target: '_blank' %>
    <p><%= @bookmark.memo %></p>
  </div>
</div>
