<div class="ml-6 mt-3">
  <% breadcrumb :profile %>
  <%= breadcrumbs separator: " &rsaquo; ", class:'text-neutral font-mplus' %>
</div>
<div class="card card-side bg-white p-4 mx-auto w-2/3 mb-4 mt-8">
  <div class="card-body">
    <ul>
      <li><%= @user.name %></li>
      <li><%= @user.email %></li>
    <div class="card-actions justify-end">
    <%= link_to t('.edit_button'), edit_profile_path, class:'btn btn-secondary' %>
    <%= button_to t('.delete_button'), profile_path, class:'btn btn-accent', method: :delete, form: { data: { turbo_confirm: t('defaults.messages.delete_confirm') } } %>
    </div>
  </div>
</div>
