<footer class="footer footer-center flex flex-row p-4 bg-base-300 text-base-content h-16 absolute bottom-0 z-30 opacity-75 hover:opacity-100">
  <% if logged_in? %>
    <div class="flex flex-row mx-auto justify-center opacity-100">
      <%= render 'bookmarks/search_form', url: bookmarks_path %>
    </div>
  <% end %>
  <div class="dropdown dropdown-top dropdown-end<%= ' w-screen' unless logged_in? %> flex justify-end">
    <div tabindex="0" role="button" class="m-1"><i class="fa-regular fa-circle-question fa-lg"></i></div>
    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
      <li><%= link_to t('defaults.terms'), terms_path %></li>
      <li><%= link_to t('defaults.privacy_policy'), privacy_policy_path %></li>
      <li><%= t('defaults.contact') %>(準備中)</li>
    </ul>
  </div>
</footer>
