<div class="navbar bg-cover bg-center bg-[url('whitebook01.png')] h-16">
  <div class="flex-1 ml-10">
    <%= link_to 'Bookmark Library', root_path, class: 'btn btn-ghost text-xl font-bad' %>
  </div>
  <% if logged_in? %>
    <div class="flex-none gap-2">
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost avatar">
          <i class="fa-solid fa-bars fa-2x"></i>
        </div>
          <ul tabindex="0" class="absolute z-50 mt-3 p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
            <li><%= link_to t('bookmarks.new.title'), new_bookmark_path %></li>
            <li><%= button_to t('defaults.logout'), :logout, method: :delete %></li>
          </ul>
      </div>
    </div>
  <% else %>
    <%= link_to t('defaults.register'), new_user_path, class:'btn btn-ghost' %>
    <%= link_to t('defaults.login'), :login, class:'btn btn-ghost' %>
  <% end %>
</div>
