<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarklibrary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= turbo_include_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/67d8878839.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  </head>
  <div>
    <%= render "shared/flash_messages" %>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
  <body class="font-body p-0">
  <div class="w-screen h-screen bg-cover bg-fixed bg-[url('background06.png')]">
  <%= render 'shared/header' %>
    <%= yield %>
  <%= render 'shared/footer' %>
  </div>
  </body>
</html>
