<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarklibrary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
  <body class="p-0">
  <div class="w-screen h-screen bg-cover bg-fixed bg-[url('background06.png')]">
  <%= render 'shared/header' %>
    <%= yield %>
  </div>
  </body>
</html>
